<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Masuit.Tools.Net" version="2.4.4.7" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.3" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.2.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0-rc.1.21451.13" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.992.28" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0-rc.1.21451.13" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0-rc.1.21451.13" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.0-rc.1.21451.13" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="VirtualizingWrapPanel" version="1.5.4" targetFramework="net48" />
</packages>